<% content_for :header do %>
  <%= render "header_after_login" %>
<% end %>
<div class="well plain clearfix">
  <h3>工作名稱工作名稱工作名稱工作名稱</h3>
  <div class="row">
    <div class="span_main">
      <p>
      隸屬專案：
      <a href="#" title="直接依發案時選擇的專案取得連結" target="_blank"><%= zh_lorem_words(rand(8)+10) %> <i class="icon-external-link"></i></a>
      </p>
      <% 3.times do %>
        <p>
          <%= zh_lorem_paragraphs 3 %>
        </p>
      <% end %>
      <div class="form-actions">
        <a href="#" class="btn btn-primary pull-right">搶下這個工作！</a>
      </div>
      <%= render 'discuss' %>
    </div>
    <div class="well span_side">
      <%= render 'job_sidebar' %>
      <h4>關注此工作</h4>
      <div class="form-inline">
        有更新時通知我 
        <a href="#" class="btn">關注</a>
      </div>
    </div>
  </div>

</div>